// Variables

// Colores
$negro: #000000;
$rojo: #f10039;
$verde: #00FF00;
$celeste-claro: #2dfffd;
$rosa: #de81af;
$amarillo: #f8d96b;
$celeste: #1fb7ca;

// Mixins

// @mixin k-border {
//   border: 1px solid lightgray;
//   border-radius: 4px;
// }

// @mixin k-border-debug {
//   border: 1px dotted red;
//   border-radius: 4px;
// }