@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700;900&display=swap');


@font-face {
  font-family: "Barlow-Black";
  src: local("Barlow-Black"),
  url(~/assets/fonts/Barlow-Black.ttf) format("truetype");
}

@font-face {
  font-family: "Barlow-ExtraBold";
  src: local("Barlow-ExtraBold"),
  url(~/assets/fonts/Barlow-ExtraBold.ttf) format("truetype");
}

@font-face {
  font-family: "Barlow-ExtraLight";
  src: local("Barlow-ExtraLight"),
  url(~/assets/fonts/Barlow-ExtraLight.ttf) format("truetype");
}

@font-face {
  font-family: "Barlow-SemiBold";
  src: local("Barlow-SemiBold"),
  url(~/assets/fonts/Barlow-SemiBold.ttf) format("truetype");
}

@font-face {
  font-family: "Barlow-SemiBoldItalic";
  src: local("Barlow-SemiBoldItalic"),
  url(~/assets/fonts/Barlow-SemiBoldItalic.ttf) format("truetype");
}